{% extends 'graphics_tools_module/panel.html.twig' %}

{% block title %}Narzędzia Graficzne | Panel Główny{% endblock %}

{% block panel_stylesheets %}  
    <link rel="stylesheet" href="{{ asset('graphics-tools-module/css/main-panel.css') }}">
{% endblock %}

{% block panel_content %} 

    <div id="graphics-tools-module-main-panel">

        {% include "graphics_tools_module/main_panel/main-content.html.twig" %}
        
    </div> 

{% endblock %} 

{% block panel_javascripts %}
 
<script type="module" src="{{ asset('graphics-tools-module/js/panels/main-panel/main.js') }}"></script>

{% endblock %}