{% extends 'graphics_tools_module/panel.html.twig' %}

{% block title %}Narzędzia Graficzne | Panel Główny{% endblock %}

{% block panel_stylesheets %}  
    <link rel="stylesheet" href="{{ asset('graphics-tools-module/css/main-panel.css') }}">
{% endblock %}

{% block panel_content %} 

<div class="example-wrapper">
    <h1>Moje Pliki</h1>  
    
    {% for image in userImages %}
        
        <img style="max-width: 400px; aspect-ratio: 16/8; object-fit: cover;" src="{{ image.src }}" alt="{{ image.name }}" />

    {% endfor %}
    
</div> 

{% endblock %} 

{% block panel_javascripts %}
 
<script type="module" src="{{ asset('graphics-tools-module/js/main-panel/main.js') }}"></script>

{% endblock %}