@use "../functions/toRem" as *;
@use "../functions/flex-center" as *;

#graphics-tools-module {  
  
  .image-operation { 
    $success-color: #2ecc71;
    $light-gray: #f8f9fa;
    $medium-gray: #e9ecef;
    $dark-gray: #6c757d;
    $border-radius: 4px;
    $box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    $transition-speed: 0.3s;

    margin: 0 auto;
    padding: toRem(20);
    color: var(--font-color); 

    &__header {
      margin-bottom: toRem(20);
      text-align: center;
    }

    &__alerts {
      margin-bottom: 1rem;
    }

    &__title {
      margin: 0;
      font-size: 2.75rem;
    }

    &__table-container {
      margin-bottom: 2rem;

      [data-preview-image] {
        @media (min-width: 65rem) {
          width: toRem(60);
          max-height: toRem(60);
        }
      }
      
      .table-responsive-vertical {
        border-top-left-radius: 0;
        border-top-right-radius: 0; 
      } 

      td[data-size] {
        min-width: toRem(100);
      }

      td[data-status] {
        max-width: toRem(210);
      }
    }

    &__item-name {
      margin: 0;
      word-break: break-word;
    }

    &__item-type {
      color: $dark-gray;
      font-size: 0.9em;
    }

    &__item-size {
      font-weight: 600;
    }

    &__item-compressed-size {
      color: $success-color;
      font-weight: 600;
    }

    &__compression-ratio { 
      background-color: rgba($success-color, 0.1);
      color: $success-color;
      font-weight: bold;
    }

    &__item-cancel {
      @include flex-center;

      transition: $transition-speed;
      border: none;
      background-color: rgba(var(--red), 0.7);
      color: var(--red);
      cursor: pointer;
      gap: 0.65rem;

      &-icon {
        transition: $transition-speed;
        color: inherit;
        font-size: 1rem;
      }

      &:hover {
        background-color: var(--red);
        color: white;

        .image-operation__item-cancel-icon {
          color: white;
        }
      } 
    }

    &__item-download {
      @include flex-center;
      
      transition: $transition-speed;
      border: none;
      background-color: rgba(var(--blue), 0.7);
      color: var(--blue);
      cursor: pointer;
      gap: 0.65rem;

      &-icon {
        transition: $transition-speed;
        color: inherit;
        font-size: 1rem;
      }

      &:hover {
        background-color: var(--blue);
        color: white;

        .image-operation__item-cancel-icon {
          color: white;
        }
      } 
    }

    &__actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: var(--panels-gap);
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background-color: #1d1d1d;
      color: var(--white);

      &-result {
        font-size: 1.5rem;
        font-weight: bold;
        
        &-value {
          color: $success-color;
          text-transform: uppercase;
        }
      }

      &-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: toRem(15);
      }
    }
  }
}