@use "../base/variables" as *;
@use "../functions/toRem" as *;

#graphics-tools-module {
  --current-gap: 1rem;

  position: relative;
  width: 100%;
  min-height: 90vh;
  padding-block: 4rem;
  padding-inline: 0;
  color: var(--font-color);

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      transition: none !important;
      transition-duration: 0ms !important;
      -webkit-animation-duration: 0ms !important;
      animation-duration: 0ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
      scroll-behavior: auto !important;
    }
  }

  &.main-layout,
  .main-layout {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: var(--current-gap);

    .nav-area {
      .nav-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 100%;
        margin-bottom: var(--panels-gap);
        gap: 1rem;

        @media (min-width: $content-breakpoint-phone-large) {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }
    }

    @media (min-width: $content-breakpoint-desktop) {
      --current-gap: 1.25rem;
    }

    @media (min-width: $content-breakpoint-desktop-large) {
      --current-gap: 1.5rem;
    }

    @media (min-width: $content-breakpoint-desktop-very-large) {
      --current-gap: 1.75rem;
    }

    @media (min-width: $content-breakpoint-desktop-4k) {
      --current-gap: 2rem;
    }
  }

  .panel {
    &__header {
      margin-bottom: toRem(20);
      text-align: center;
    }

    &__alerts {
      padding-bottom: 1rem;
    }

    &__title {
      margin: 0;
      font-size: 2.75rem;
    }
  }

  #graphics-tools-module-result-table {
    margin-top: var(--current-gap);
  }
}
