@use "../base/variables" as *;
@use "../functions/toRem" as *;

#graphics-tools-module {
  .main-navigation {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: var(--panels-gap); 

    &-list {
      display: flex;
      position: relative;
      flex-direction: column;
      width: 100%;
      // max-width: toRem(900);
      padding: 0; 
      border-radius: 10px;
      // background-color: var(--green);
      // color: #fff;
      list-style: none;
    } 

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding: 1.5rem 0 !important;
      transition: 0.3s;
      border-radius: 10px;
      font-weight: bold;
      text-align: center;
      color: var(--font-color-gray);

      &-text {
        display: none;

        @media (min-width: $content-breakpoint-tablet) {
          display: inline;
        }
      }

      &.active,
      &:hover,
      &:focus {
        color: var(--green);
      }

      &-icon {
        font-size: 1.5rem;
      }
    }
  }
}
