@use "../base/variables" as *;
@use "../functions/toRem" as *; 

#graphics-tools-module { 
  --panels-gap: 2rem;

  position: relative;
  width: 100%;
  min-height: 90vh;
  padding-block: 4rem;
  padding-inline: 0;
  color: var(--font-color);  

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      transition: none !important;
      transition-duration: 0ms !important;
      -webkit-animation-duration: 0ms !important;
      animation-duration: 0ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
      scroll-behavior: auto !important;
    }
  }  

  .panel {
    &__header {
      margin-bottom: toRem(20);
      text-align: center;
    }

    &__alerts {
      margin-bottom: 1rem;
    }

    &__title {
      margin: 0;
      font-size: 2.75rem;
    }
  }
}
