@use "../base/variables" as *;
@use "../functions/toRem" as *;

#graphics-tools-module {
  .main-navigation {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: var(--panels-gap);

    &-list {
      display: flex;
      position: relative;
      align-items: center;
      width: 100%;
      max-width: toRem(1000);
      padding: 0;
      border-radius: 10px;
      background-color: var(--green);
      box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
      color: #fff;
      list-style: none;
    }

    &-item {
      width: 25%;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding: 1.5rem 1rem !important;
      transition: 0.3s;
      border-radius: 10px;
      font-weight: bold;
      text-align: center;

      &-text {
        display: none;

        @media (min-width: $content-breakpoint-tablet-large) {
          display: inline;
        }
      }

      &.active,
      &:hover,
      &:focus {
        background-color: var(--light-green);
      }

      &-icon {
        font-size: 1.5rem;
      }
    }
  }
}
