<div id="graphics-tools-module-compressor" class="image-compressor" data-api='{ 
    "compressImageURL": "{{ path('gtm_compressor_api_compress_image') }}" }'> 

    <div class="modern-card">
        <div class="image-compressor__header">
            <h2 class="image-compressor__title">Kompresja obrazów</h2>
        </div>

        <div class="image-compressor__alerts" data-compressor-alerts></div>

        {% include "graphics_tools_module/components/drop-zone.html.twig" %}

    </div>

    <div data-actions-panel class="modern-card image-compressor__actions">

        <div class="image-compressor__actions-buttons" id="actionButtons">
            <button class="image-compressor__action-button link variant2" id="compressButton" data-compress-button disabled>
                <i class="fa-solid fa-file-zipper"></i>
                Kompresuj
            </button>
            <button class="image-compressor__action-button link variant-red" id="clearButton" data-clear-button disabled>
                <i class="fa-solid fa-trash"></i>
                Wyczyść
            </button>

            <button class="link variant2" data-download-all-btn>
                <i class="fa-solid fa-download"></i>
                Pobierz wszystkie grafiki
            </button>
        </div>

        {# <div class="image-compressor__progress" id="progressContainer" data-progress-container>
            <div class="image-compressor__progress-bar" id="progressBar" data-progress-bar></div>
            <div class="image-compressor__progress-text" id="progressText" data-progress-text>0%</div>
        </div> #}

        {# <div data-progress-container class="animated-progress">
            <div class="animated-progress-bar">
                <div class="animated-progress-per" data-progress-bar per="0"></div>
            </div>

            <div class="animated-progress-info">
                <div class="animated-progress-name">Proszę Czekać ...</div>
                <div class="animated-progress-stats">
                    <span data-progress-text>0%</span>
                </div>
            </div>
        </div> #}

    </div>

    <div class="image-compressor__list-container">
        <div class="table-responsive-vertical">
            <table class="table table-hover table-striped">
                <thead>
                    <tr data-table-head-row>
                        <th>Podgląd</th>
                        <th>Nazwa pliku</th>
                        <th>Typ</th>
                        <th>Rozmiar</th>
                        <th>Status</th> 
                        <th class="sr-only">Rozmiar po kompresji</th>
                        <th class="sr-only">Poziom kompresji</th> 
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody data-image-table></tbody>
            </table>
            <div class="table-footer">
                <button class="link variant2" data-download-all-btn>Pobierz wszystkie grafiki</button>
            </div>
        </div>
    </div>
</div>