{% extends 'graphics_tools_module/panel.html.twig' %}

{% block title %}Narzędzia Graficzne | Edytor{% endblock %}

{% block panel_stylesheets %}  
    <link rel="stylesheet" href="{{ asset('graphics-tools-module/css/editor-panel.css') }}">
{% endblock %}

{% block panel_content %} 

<div id="graphics-tools-module-editor">

    <div class="panel__header">
        <h2 class="panel__title">Edytor Zdjęć</h2>
    </div>

    <div data-editor-loading class="editor-loading modern-card">
        <span class="editor-loading-message">Trwa ładowanie edytora, proszę czekać ...</span>

        <div data-editor-loading-progress class="animated-progress animated-progress--no-label">
            <div class="animated-progress-bar">
                <div class="animated-progress-per" data-progress-bar per="0"></div>
            </div>
            <div class="animated-progress-info">
                <div data-progress-label class="animated-progress-name">Wczytywanie zasobów...</div>
                <div class="animated-progress-stats">
                    <span data-progress-text>0%</span>
                </div>
            </div>
        </div>
    </div> 

    <div data-editor-container class="editor-container"> 

        <div class="settings-panel-top modern-card"></div> 

        <div class="image-preview-container modern-card">

            <div class="panel__alerts" data-operation-alerts></div>

            <div data-cropper-wrapper class="cropper-wrapper">
                <img data-image-preview class="image-preview" alt="" />
            </div>  

            {{ include('graphics_tools_module/components/drop-zone.html.twig', {
                textInfoTop: 'Przeciągnij i upuść obraz lub kliknij, aby wybrać',
                textInfoBottom: 'Maksymalny rozmiar pliku:',
                isTypeMultiple: false
            }, with_context: false) }} 
            
        </div>

        <div class="settings-panel-right modern-card">

            <label for="add-crop">
                Przytnij <input type="checkbox" data-add-crop-checkbox name="add-crop" id="add-crop">
            </label>

        </div>

    </div>

</div>

{% endblock %}

{% block panel_javascripts %}
 
<script type="module" src="{{ asset('graphics-tools-module/js/editor-panel/main.js') }}"></script>

{% endblock %}