{% extends 'graphics_tools_module/panel.html.twig' %}

{% block title %}Narzędzia Graficzne | Edytor{% endblock %}

{% block panel_stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css"
        integrity="sha512-UtLOu9C7NuThQhuXXrGwx9Jb/z9zPQJctuAgNUBK3Z6kkSYT9wJ+2+dh6klS+TDBCV9kNPBbAxbVD+vCcfGPaA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ asset('graphics-tools-module/css/editor-panel.css') }}">
{% endblock %}

{% block panel_content %}

    <div class="main-area modern-card" id="graphics-tools-module-editor">

        {# <div class="panel__header">
            <h2 class="panel__title">Edytor Zdjęć</h2>
        </div> #}

        {% include "graphics_tools_module/editor_panel/editor-module.html.twig" %}

    </div>

{% endblock %} 

{% block panel_javascripts %}

<script>

    const EXPORT_IMAGE_URL = "{{ path('gtm_editor_api_export_image') }}"
    const GET_IMAGE_DATA_URL = "{{ GET_IMAGE_DATA_URL }}"

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"
    integrity="sha512-JyCZjCOZoyeQZSd5+YEAcFgz2fowJ1F1hyJOXgtKu4llIa0KneLcidn5bwfutiehUTiOuK87A986BZJMko0eWQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="module" src="{{ asset('graphics-tools-module/js/panels/editor-panel/main.js') }}"></script>

{% endblock %} 