@use "./base/variables" as *;

@use "./components/toast";
@use "./components/alert";
@use "./components/drop-zone";
@use "./components/modern-table";
@use "./components/toggle-switch";
@use "./components/custom-popover";
@use "./components/form-control";
@use "./components/animated-progress";
@use "./components/custom-select-green";

@use "./layout/image-operation";

#graphics-tools-module-converter {
  .area-header {
    padding-top: 1.25rem;
    @media (min-width: $content-breakpoint-tablet) {
      padding-top: 0;
    }
  }

  custom-popover {
    width: 100%;
  }

  .select-files-btn {
    min-height: 2.9375rem;
    padding: 0.75rem 0.9375rem;
  }

  .change-quality {
    &__wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &__label {
      display: block;
    }

    &__control {
      width: auto;
      border-radius: 5px;
      color: #fff;
      font-weight: bold;
    }
  }

  .change-format {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: var(--very-light-green-opacity);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
      gap: 1rem;

      @media (min-width: $content-breakpoint-tablet-small) {
        flex-wrap: nowrap;
      }

      @media (min-width: $content-breakpoint-tablet) {
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: max-content;
        gap: 2rem;
      }

      .custom-popover-button,
      .custom-select-green {
        min-width: 18rem;
      }

      .custom-select-green-styled {
        font-weight: bold;
      }
    }

    &__compress-switch {
      display: flex;
      align-items: center;
      width: max-content;
      margin-top: 1rem;
      gap: 1rem;
    }

    &__label {
      display: block;
      margin-bottom: 1rem;
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
}
