@use "./base/variables" as *;
@use "./functions/toRem" as *;
@use "./components/toast";
@use "./components/alert";
@use "./components/drop-zone";
@use "./components/custom-switch";
@use "./components/custom-popover";
@use "./components/form-control";
@use "./components/_custom-select-green.scss";
@use "./components/animated-progress";

#graphics-tools-module-editor {
  position: relative;

  .main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: $content-breakpoint-tablet) {
      gap: 1.5rem;
    }
  }

  .editor-loading {
    display: flex;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    gap: 1.5rem;

    &-message {
      order: -1;
      font-size: 2rem;
      font-weight: bold;
    }

    .animated-progress {
      max-width: toRem(700);
    }
  }

  .drop-zone__upload-area {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
  }

  .drop-zone__file-input {
    min-height: 100%;
  }

  .editor-container {
    display: grid;
    grid-auto-rows: auto 35rem;
    gap: 1rem;

    @media (min-width: $content-breakpoint-tablet) {
      place-content: start;
      grid-template-columns: 1fr toRem(300);
      gap: 1.5rem;
    }

    .image-preview-container {
      padding: 0 !important;
      background-color: var(--background-gray);
      background-image: var(--checkered-bg);
      background-position: 0 0, 0.5rem 0.5rem;
      background-size: 1rem 1rem;

      .image-preview {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .cropper-wrapper {
        position: relative;
        width: 100%;
        height: toRem(500);
        margin: 0 auto;
        overflow: hidden;
        border-radius: inherit;

        .pixi-canvas {
          position: absolute;
          top: 0;
          left: 0;
        }

        cropper-canvas {
          min-height: 100%;
        }
      }
    }
  }
}
