<custom-modal data-modal-id="graphics-tools-module-confirm-modal" data-modal-content-class="confirm-modal">
    <template slot="modal-title">Potwierdź operacje</template>
    <template slot="modal-content">
        <p class="confirm-modal-message" data-message></p>
        <div class="confirm-modal-actions">
            <button data-confirm-btn class="link variant2 medium">Tak</button>
            <button data-deny-btn class="link variant1 medium">Nie</button>
        </div>
    </template>
</custom-modal>