<div hidden data-result-table data-actions-panel class="modern-card image-operation__actions">

    <p class="image-operation__actions-result">
        <span data-operation-result-message>Załaduj pliki aby rozpocząć</span> 
        <span class="image-operation__actions-result-value" data-operation-result-value></span>
    </p>

    <div class="image-operation__actions-buttons" id="actionButtons"> 
        <button class="image-operation__action-button link variant-red" id="clearButton" data-clear-button disabled>
            <i class="fa-solid fa-trash"></i> Wyczyść Wszystko
        </button>

        <button class="link variant2" disabled data-download-all-btn>
            <i class="fa-solid fa-download"></i> Pobierz wszystkie grafiki
        </button>
    </div> 

</div>

<div hidden data-result-table class="image-operation__table-container">
    <div class="table-responsive-vertical">
        <table class="table table-hover table-striped">
            <thead>
                <tr data-table-head-row></tr>
            </thead>
            <tbody data-image-table></tbody>
        </table>
        <div class="table-footer"></div>
    </div>
</div>