<nav>
    <ul>
        <li>
            <a href="{{ path('app_gtm_main_panel') }}">Panel Główny</a>
        </li>
        <li>
            <a href="{{ path('app_gtm_compressor_panel') }}">Kompresor</a>
        </li>
        <li>
            <a href="{{ path('app_gtm_converter_panel') }}">Konwerter</a>
        </li>
        <li>
            <a href="{{ path('app_gtm_editor_panel') }}">Edytor Zdjęć</a>
        </li>
    </ul>
</nav>