{% extends 'base.html.twig' %} 

{% block stylesheets %} 
    <link rel="stylesheet" href="{{ asset('GraphicsToolsModule/css/base.css') }}"> 
    {% block panel_stylesheets %}{% endblock %} 
{% endblock %}

{% block body %} 

<div id="graphics-tools-module">

    <div class="modern-card container">

        {% include "graphics_tools_module/components/test-nav.html.twig" %}

        {% block panel_content %}{% endblock %}

    </div>

</div>

{% endblock %}

{% block javascripts %}

<script type="module" src="{{ asset('GraphicsToolsModule/js/index.js') }}"></script> 
{% block panel_javascripts %}{% endblock %}

{% endblock %}