#graphics-tools-module .toast {
  --primary: #2659ffd3;
  --secondary: #fff;
  display: flex;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 37.5rem;
  padding: 0.75rem 1.5rem;
  overflow: hidden;
  border-radius: 10px;
  background: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--secondary);
}
#graphics-tools-module .toast-container {
  display: flex;
  position: fixed;
  z-index: 989;
  top: 1rem;
  right: 0.15rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}
@media (min-width: 40em) {
  #graphics-tools-module .toast-container {
    right: 1.5rem;
  }
}
#graphics-tools-module .toast.success {
  --primary: #00c11ad3;
}
#graphics-tools-module .toast.warning {
  --primary: #cf7900d3;
}
#graphics-tools-module .toast.error {
  --primary: #e40000d3;
}
#graphics-tools-module .toast.info {
  --primary: #3665ffd3;
}
#graphics-tools-module .toast .icon {
  color: inherit;
  font-size: 1.75rem;
}
#graphics-tools-module .toast .toast-message {
  padding: 0.3125rem 0.9375rem;
}
#graphics-tools-module .toast .toast-message-title, #graphics-tools-module .toast .toast-message-text {
  margin: 0;
  line-height: 1.2em;
}
#graphics-tools-module .toast .toast-message-title {
  font-size: 1rem;
  font-weight: 600;
}
#graphics-tools-module .toast .toast-message-text {
  font-size: 1rem;
}
#graphics-tools-module .toast .toast-close {
  position: relative;
  padding: 0.75rem;
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}
#graphics-tools-module .toast .toast-close:hover {
  transform: scale(1.8);
  background: rgba(0, 0, 0, 0.1);
}
#graphics-tools-module .toast .toast-close::before, #graphics-tools-module .toast .toast-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.125rem;
  height: 0.75rem;
  transition: background 0.2s ease-in-out;
  border-radius: 5px;
  background: var(--secondary);
}
#graphics-tools-module .toast .toast-close:hover::before, #graphics-tools-module .toast .toast-close:hover::after {
  background: var(--secondary);
}
#graphics-tools-module .toast .toast-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
#graphics-tools-module .toast .toast-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@-webkit-keyframes close {
  from {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
  to {
    visibility: hidden;
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes close {
  from {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
  to {
    visibility: hidden;
    transform: scale(0.5);
    opacity: 0;
  }
}
@-webkit-keyframes open {
  from {
    visibility: hidden;
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes open {
  from {
    visibility: hidden;
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}
#graphics-tools-module .toast .timer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.25rem;
  border-top-right-radius: 5px;
  background: var(--secondary);
  box-shadow: 0 0 8px var(--secondary);
}
#graphics-tools-module .toast .timer-animation {
  -webkit-animation: countdown 5s linear forwards;
  animation: countdown 5s linear forwards;
}
@-webkit-keyframes countdown {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes countdown {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

#graphics-tools-module .alert {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  padding: 0.625rem;
  position: relative;
  color: #fff;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
}
@media (min-width: 30em) {
  #graphics-tools-module .alert {
    padding: 1.25rem;
  }
}
#graphics-tools-module .alert .icon {
  font-size: 1.5rem;
}
#graphics-tools-module .alert .message {
  font-weight: bold;
  padding-right: 2.5rem;
}
#graphics-tools-module .alert .close {
  --size: 2rem;
  position: absolute;
  width: var(--size);
  height: var(--size);
  opacity: 0.75;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.568627451);
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
  text-align: center;
  font-size: 1.25em;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 1px 4px;
}
#graphics-tools-module .alert .close:hover, #graphics-tools-module .alert .close:focus, #graphics-tools-module .alert .close:active {
  opacity: 1;
}
#graphics-tools-module .info-alert {
  background-color: rgba(54, 101, 255, 0.8823529412);
  border-left: 5px solid rgba(0, 48.4029850746, 207, 0.8823529412);
}
#graphics-tools-module .info-alert .close {
  border-color: rgba(0, 48.4029850746, 207, 0.8823529412);
  color: rgba(0, 48.4029850746, 207, 0.8823529412);
}
#graphics-tools-module .success-alert {
  background-color: rgba(0, 193, 26, 0.8862745098);
  border-left: 5px solid rgba(0, 91, 12.2590673575, 0.8862745098);
}
#graphics-tools-module .success-alert .close {
  border-color: rgba(0, 91, 12.2590673575, 0.8862745098);
  color: rgba(0, 91, 12.2590673575, 0.8862745098);
}
#graphics-tools-module .error-alert {
  background-color: rgba(228, 0, 0, 0.8901960784);
  border-left: 5px solid rgba(126, 0, 0, 0.8901960784);
}
#graphics-tools-module .error-alert .close {
  border-color: rgba(126, 0, 0, 0.8901960784);
  color: rgba(126, 0, 0, 0.8901960784);
}
#graphics-tools-module .warning-alert {
  background-color: rgba(207, 121, 0, 0.8941176471);
  border-left: 5px solid rgba(105, 61.3768115942, 0, 0.8941176471);
}
#graphics-tools-module .warning-alert .close {
  border-color: rgba(105, 61.3768115942, 0, 0.8941176471);
  color: rgba(105, 61.3768115942, 0, 0.8941176471);
}

#graphics-tools-module {
  --white: #fff;
  --white-opacity: #ffffffb5;
  --white-opacity-30: #ffffff54;
  /* blue */
  --dark-blue: #006caf;
  --blue: #008be2;
  --light-blue: #14a5ff;
  --light-blue-opacity: #14a5ffb6;
  /* red */
  --red: #b50000;
  --light-red: #e40000;
  /* green */
  --green: #00c821;
  --green-opacity: #00c8218f;
  --green-opacity-30: #00c82161;
  --green-opacity-10: #00c82113;
  --dark-green: rgb(0, 113, 19);
  --light-green: #00ff57;
  --very-light-green: #37ff7a;
  --very-light-green-opacity: #37ff7a96;
  /* gray */
  --very-light-gray: #efefef;
  --light-gray: #a9a9a9;
  --gray: #2d4233;
  --dark-gray: #1d2d2b;
  --very-dark-gray: #252525;
  --very-dark-gray-50: #2525258e;
  --very-dark-gray-75: #252525c4;
  --background: var(--white);
  --background-25: #ffffff52;
  --background-50: #ffffff94;
  --background-75: #ffffffae;
  --background-85: #ffffffd5;
  --font-color: #000;
  --font-color-50: rgba(0, 0, 0, 0.5);
  --font-color-gray: var(--gray);
  --font-color-green: var(--green);
  --background-gradient: linear-gradient(
    to top,
    var(--very-light-gray),
    var(--white)
  );
  /* icons */
  --blocked-icon: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath fill='%23666666' d='M20,14c0-6.627,5.373-12,12-12s12,5.373,12,12v10h-4V14c0-4.418-3.582-8-8-8s-8,3.582-8,8v10h-4V14z'%3E%3C/path%3E%3Cg%3E%3Cpath fill='%23c9c9c9' d='M10,60c0,1.104,0.896,2,2,2h40c1.104,0,2-0.896,2-2v-4H10V60z'%3E%3C/path%3E%3Crect x='10' y='34' fill='%23c9c9c9' width='44' height='20'%3E%3C/rect%3E%3Cpath fill='%23c9c9c9' d='M52,26H12c-1.104,0-2,0.895-2,2v4h44v-4C54,26.895,53.104,26,52,26z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23394240' d='M52,24h-6V14c0-7.732-6.268-14-14-14S18,6.268,18,14v10h-6c-2.211,0-4,1.789-4,4v32c0,2.211,1.789,4,4,4 h40c2.211,0,4-1.789,4-4V28C56,25.789,54.211,24,52,24z M20,14c0-6.627,5.373-12,12-12s12,5.373,12,12v10h-4V14 c0-4.418-3.582-8-8-8s-8,3.582-8,8v10h-4V14z M38,14v10H26V14c0-3.314,2.687-6,6-6S38,10.686,38,14z M54,60c0,1.104-0.896,2-2,2 H12c-1.104,0-2-0.896-2-2v-4h44V60z M54,54H10V34h44V54z M54,32H10v-4c0-1.105,0.896-2,2-2h40c1.104,0,2,0.895,2,2V32z'%3E%3C/path%3E%3Cpath fill='%23394240' d='M29,44.979V49c0,1.656,1.343,3,3,3s3-1.344,3-3v-4.021c1.209-0.912,2-2.348,2-3.979c0-2.762-2.238-5-5-5 s-5,2.238-5,5C27,42.631,27.791,44.066,29,44.979z M32,38c1.657,0,3,1.342,3,3c0,1.305-0.837,2.402-2,2.816V49 c0,0.553-0.447,1-1,1s-1-0.447-1-1v-5.184c-1.163-0.414-2-1.512-2-2.816C29,39.342,30.343,38,32,38z'%3E%3C/path%3E%3C/g%3E%3Cpath fill='%23535a5f' d='M32,38c1.657,0,3,1.342,3,3c0,1.305-0.837,2.402-2,2.816V49c0,0.553-0.447,1-1,1s-1-0.447-1-1v-5.184 c-1.163-0.414-2-1.512-2-2.816C29,39.342,30.343,38,32,38z'%3E%3C/path%3E%3Cg opacity='0.15'%3E%3Cpath d='M10,60c0,1.104,0.896,2,2,2h40c1.104,0,2-0.896,2-2v-4H10V60z'%3E%3C/path%3E%3Cpath d='M52,26H12c-1.104,0-2,0.895-2,2v4h44v-4C54,26.895,53.104,26,52,26z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --loading-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill='none' class='hds-flight-icon--animation-loading'%3E%3Cg fill='%23008be2' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8z' opacity='.2'/%3E%3Cpath d='M7.25.75A.75.75 0 018 0a8 8 0 018 8 .75.75 0 01-1.5 0A6.5 6.5 0 008 1.5a.75.75 0 01-.75-.75z'/%3E%3C/g%3E%3C/svg%3E");
  --loading-icon-animation: loading-icon-spin-animation 0.6s linear infinite;
}
@keyframes loading-icon-spin-animation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.theme-dark #graphics-tools-module {
  --background: var(--very-dark-gray);
  --background-25: #00000049;
  --background-50: var(--very-dark-gray-50);
  --background-75: #000000bd;
  --background-85: #000000d2;
  --background-gradient: linear-gradient(
    to top,
    #2c2c2c,
    var(--very-dark-gray)
  );
  --font-color: #fff;
  --font-color-50: rgba(255, 255, 255, 0.5);
  --font-color-gray: var(--very-light-gray);
  --font-color-green: var(--very-light-green);
}

#graphics-tools-module {
  /* Track */
  /* Track fill */
  /* Runnable track */
  /* Thumb */
  /* Track */
  /* Track fill */
  /* Thumb */
}
#graphics-tools-module range-slider {
  --track-size: 0.2rem;
  --thumb-size: 1.2rem;
  --slider-color: var(--very-light-green);
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  block-size: var(--thumb-size);
  inline-size: 100%;
  outline: none;
  /* Prevent selection relevant for touch devices */
  -webkit-user-select: none;
  user-select: none;
  /* Make sure capture pointer events will work properly on touch devices */
  touch-action: none;
}
#graphics-tools-module range-slider[orientation=vertical] {
  flex-direction: column;
  block-size: 130px;
  inline-size: var(--thumb-size);
}
#graphics-tools-module range-slider [data-track] {
  box-sizing: inherit;
  flex: 1;
  block-size: var(--track-size);
  border-radius: inherit;
  pointer-events: none;
}
#graphics-tools-module range-slider[orientation=vertical] [data-track] {
  block-size: 100%;
  inline-size: var(--track-size);
}
#graphics-tools-module range-slider [data-track-fill] {
  position: absolute;
  box-sizing: inherit;
  block-size: var(--track-size);
  pointer-events: none;
  border-start-start-radius: inherit;
  border-end-start-radius: inherit;
}
#graphics-tools-module range-slider[orientation=vertical] [data-track-fill] {
  block-size: auto;
  inline-size: var(--track-size);
  border-start-start-radius: unset;
  border-end-end-radius: inherit;
}
#graphics-tools-module range-slider [data-runnable-track] {
  position: absolute;
  box-sizing: inherit;
  pointer-events: none;
  inset: 0 calc(var(--thumb-size) / 2);
}
#graphics-tools-module range-slider[orientation=vertical] [data-runnable-track] {
  inset: calc(var(--thumb-size) / 2) 0;
}
#graphics-tools-module range-slider [data-thumb] {
  position: absolute;
  box-sizing: inherit;
  block-size: var(--thumb-size);
  inline-size: var(--thumb-size);
  margin-inline-start: calc(var(--thumb-size) / 2 * -1);
  pointer-events: auto;
  touch-action: none;
}
#graphics-tools-module range-slider[orientation=vertical] [data-thumb] {
  margin-block: calc(var(--thumb-size) / 2 * -1);
  margin-inline-start: unset;
}
#graphics-tools-module range-slider {
  margin: 2px;
  border-radius: var(--track-size);
}
#graphics-tools-module range-slider:active {
  opacity: 0.8;
}
#graphics-tools-module range-slider[disabled] {
  filter: grayscale(1);
  opacity: 0.4;
}
#graphics-tools-module range-slider [data-track] {
  background-color: lightgray;
  background-color: ButtonFace;
}
#graphics-tools-module range-slider [data-track-fill] {
  background-color: var(--slider-color);
}
#graphics-tools-module range-slider [data-thumb] {
  border-radius: 100%;
  background-color: var(--slider-color);
}

#graphics-tools-module .drop-zone__upload-area {
  position: relative;
  margin-bottom: 1.25rem;
  padding: 2.5rem 1.25rem;
  transition: border-color 0.3s, background-color 0.3s;
  border: 3px dashed var(--gray);
  border-radius: 15px;
}
#graphics-tools-module .drop-zone__upload-area.drag-over {
  border-color: var(--green);
  background-color: rgba(var(--green), 0.05);
}
#graphics-tools-module .drop-zone__upload-area.has-files {
  border-color: var(--green);
  background-color: rgba(var(--green), 0.05);
}
#graphics-tools-module .drop-zone__upload-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#graphics-tools-module .drop-zone__upload-icon {
  margin-bottom: 0.9375rem;
  color: var(--green);
  font-size: 3rem;
}
#graphics-tools-module .drop-zone__upload-text {
  margin: 0 0 0.9375rem;
  color: var(--font-color-gray);
  font-size: 1.2rem;
}
#graphics-tools-module .drop-zone__file-input {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#graphics-tools-module .table-responsive-vertical {
  --table-border-radius: 15px;
  position: relative;
  border-radius: var(--table-border-radius);
  background-color: #1d1d1d;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}
#graphics-tools-module .table-responsive-vertical .preview-image {
  width: 6.25rem;
  height: 3.75rem;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#graphics-tools-module .table-responsive-vertical .table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border: none;
  border-radius: var(--table-border-radius);
  font-size: 1rem;
}
#graphics-tools-module .table-responsive-vertical .table *:not(i) {
  font-family: sans-serif;
}
#graphics-tools-module .table-responsive-vertical .table td {
  text-align: center;
}
#graphics-tools-module .table-responsive-vertical .table > tbody {
  background-color: var(--background);
}
#graphics-tools-module .table-responsive-vertical .table > tbody * {
  border-color: red;
}
#graphics-tools-module .table-responsive-vertical .table > thead > tr,
#graphics-tools-module .table-responsive-vertical .table > tbody > tr,
#graphics-tools-module .table-responsive-vertical .table > tfoot > tr {
  transition: all 0.3s ease;
}
#graphics-tools-module .table-responsive-vertical .table > thead > tr > th,
#graphics-tools-module .table-responsive-vertical .table > thead > tr > td,
#graphics-tools-module .table-responsive-vertical .table > tbody > tr > th,
#graphics-tools-module .table-responsive-vertical .table > tbody > tr > td,
#graphics-tools-module .table-responsive-vertical .table > tfoot > tr > th,
#graphics-tools-module .table-responsive-vertical .table > tfoot > tr > td {
  padding: 0.25rem 0.75rem 0 0.75rem;
  transition: all 0.3s ease;
  border-top: 0;
}
#graphics-tools-module .table-responsive-vertical .table > tbody > tr > td:first-child {
  background-color: var(--green-opacity-10);
  color: #fff;
  font-weight: bold;
}
#graphics-tools-module .table-responsive-vertical .table > thead > tr > th,
#graphics-tools-module .table-responsive-vertical .table > tfoot > tr > th {
  border: none;
  background-color: #1d1d1d;
  color: #fff;
  font-weight: bold;
}
#graphics-tools-module .table-responsive-vertical .table-footer {
  width: calc(100% - 2px);
  margin: 0 auto;
  padding: 1rem;
  border-radius: var(--table-border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #1d1d1d;
  color: #fff;
}
#graphics-tools-module .table-responsive-vertical .table > thead > tr > th:first-child {
  border-top-left-radius: var(--table-border-radius);
}
#graphics-tools-module .table-responsive-vertical .table > thead > tr > th:last-child {
  border-top-right-radius: var(--table-border-radius);
}
#graphics-tools-module .table-responsive-vertical .table > caption + thead > tr:first-child > th,
#graphics-tools-module .table-responsive-vertical .table > caption + thead > tr:first-child > td,
#graphics-tools-module .table-responsive-vertical .table > colgroup + thead > tr:first-child > th,
#graphics-tools-module .table-responsive-vertical .table > colgroup + thead > tr:first-child > td,
#graphics-tools-module .table-responsive-vertical .table > thead:first-child > tr:first-child > th,
#graphics-tools-module .table-responsive-vertical .table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
#graphics-tools-module .table-responsive-vertical .table > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
#graphics-tools-module .table-responsive-vertical .table .table {
  background-color: var(--font-color);
}
#graphics-tools-module .table-responsive-vertical .table .no-border {
  border: 0;
}
#graphics-tools-module .table-responsive-vertical .table-striped > tbody > tr:nth-child(odd) {
  background-color: var(--very-light-gray);
}
#graphics-tools-module .table-responsive-vertical .table-hover > tbody > tr:hover > td, #graphics-tools-module .table-responsive-vertical .table-hover > tbody > tr:hover {
  background-color: var(--green-opacity-10) !important;
}
#graphics-tools-module .table-responsive-vertical .table-hover > tbody > tr > td:hover {
  background-color: var(--green-opacity-10) !important;
}
#graphics-tools-module .table-responsive-vertical .table > thead > tr > th {
  padding-block: 1rem;
}
@media screen and (max-width: 70rem) {
  #graphics-tools-module .table-responsive-vertical {
    box-shadow: none;
  }
  #graphics-tools-module .table-responsive-vertical > .table {
    margin-bottom: 0;
    background-color: transparent;
  }
  #graphics-tools-module .table-responsive-vertical > .table .mx-auto {
    margin: 0;
    margin-left: auto;
  }
  #graphics-tools-module .table-responsive-vertical > .table > thead, #graphics-tools-module .table-responsive-vertical > .table > tfoot {
    display: none;
  }
  #graphics-tools-module .table-responsive-vertical > .table > tbody {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    border-radius: var(--table-border-radius);
    gap: 1rem;
  }
  #graphics-tools-module .table-responsive-vertical > .table > tbody > tr {
    display: block;
    flex-basis: 1;
    flex-grow: 1;
    min-width: 18.75rem;
    overflow: hidden;
    border-radius: var(--table-border-radius);
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  }
  #graphics-tools-module .table-responsive-vertical > .table > tbody > tr > td {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    padding: 0.75rem 1.1rem;
    text-align: right;
  }
  #graphics-tools-module .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
    content: attr(data-title);
    color: var(--font-color);
    font-size: 1rem;
    font-weight: bold;
  }
  #graphics-tools-module .table-responsive-vertical > .table > tbody > tr > td:last-child {
    padding-bottom: 2rem;
  }
}

.theme-dark #graphics-tools-module .table-responsive-vertical .table-striped > tbody > tr:nth-child(odd) {
  background-color: var(--dark-gray);
}

#graphics-tools-module .hidden-animation {
  position: absolute;
  z-index: -999;
  opacity: 0;
  pointer-events: none;
}

.visually-hidden, .sr-only:not(:focus):not(:active) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

#graphics-tools-module .custom-switch {
  --width: 3.75rem;
  --height: 1.8rem;
  --padding: 0.3125rem;
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: var(--height);
  margin: 1rem 0;
  cursor: pointer;
  gap: calc(var(--width) / 2 + 0.5rem);
}
#graphics-tools-module .custom-switch:has(:focus):after {
  outline: auto;
}
#graphics-tools-module .custom-switch > * {
  cursor: pointer;
}
#graphics-tools-module .custom-switch:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: var(--width);
  height: var(--height);
  transform: translateY(-50%);
  border-radius: 100vw;
  background-color: #f1f1f1;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.46) 0px 1px 4px;
}
#graphics-tools-module .custom-switch .toggle {
  display: block;
}
#graphics-tools-module .custom-switch .toggle > * {
  transform: translateZ(0) scale(1, 1);
}
#graphics-tools-module .custom-switch .toggle--handler {
  display: block;
  position: relative;
  z-index: 2;
  width: calc(var(--height) - var(--padding));
  height: calc(var(--height) - var(--padding));
  margin: calc(var(--height) / 10) !important;
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
  background: linear-gradient(to bottom, #f5515f, #cd2942);
}
#graphics-tools-module .custom-switch .toggle--handler:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 200ms;
  border-radius: 50%;
  opacity: 0;
  background: linear-gradient(to bottom, #468eff, #2b68ff);
}
#graphics-tools-module .custom-switch input {
  position: absolute;
  opacity: 0;
}
#graphics-tools-module .custom-switch input:checked + .toggle .toggle--handler {
  transform: translateX(var(--height));
  background: linear-gradient(to bottom, #468eff, #2b68ff);
}
#graphics-tools-module .custom-switch input:checked + .toggle .toggle--handler:after {
  opacity: 1;
}
#graphics-tools-module .custom-switch input:checked + .toggle .toggle--handler:before {
  z-index: 5;
  transform: translate(-50%, -50%) rotate(0deg);
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>assets/icons/cross copy</title><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M0 0h24v24H0z"/><path fill="#FFF" d="M8.293 16.707l.707.707.707-.707 11-11-1.414-1.414-11 11h1.414l-4-4-1.414 1.414z"/></g></svg>');
}

#graphics-tools-module .custom-popover {
  height: 100%;
}
#graphics-tools-module .custom-popover-content {
  display: block;
  padding: 0.75rem 0.9375rem !important;
}
#graphics-tools-module .custom-popover-button {
  width: 100%;
  color: inherit;
  font-size: inherit;
}

#graphics-tools-module .floating-label-grid {
  display: grid;
  gap: 1rem;
}
#graphics-tools-module .floating-label {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  padding: 0.25rem 0.75rem;
  transform: translateY(-50%);
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.2s;
  border-radius: 0.375em;
  background: #fff;
  color: hsl(0, 0%, 50%);
  font-size: 0.9375rem;
  line-height: 1;
  -webkit-clip-path: none;
  clip-path: none;
}
#graphics-tools-module .floating-label--for-select {
  transform: translateY(-100%);
  background-color: transparent;
}
#graphics-tools-module .floating-label-control {
  padding: 0.75rem;
  color: var(--font-color);
  background-color: var(--background-50);
}
#graphics-tools-module .floating-label-control:placeholder-shown + .floating-label {
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  transform: translateY(-25%);
}
#graphics-tools-module .floating-label-control:focus {
  background-color: var(--background);
}
#graphics-tools-module .floating-label-control:focus ~ .upt-icon {
  color: var(--green);
}
#graphics-tools-module .floating-label-control:focus + .floating-label {
  color: var(--green);
}
#graphics-tools-module .upt-form-control {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  padding-left: 1rem;
  transition: 0.2s;
  border: none;
  background: var(--background-25);
  font-family: inherit;
  color: var(--font-color);
  font-size: 1em;
  line-height: 1.2;
}
#graphics-tools-module .upt-form-control::-webkit-input-placeholder {
  opacity: 1;
  color: var(--font-color-gray);
}
#graphics-tools-module .upt-form-control::-moz-placeholder {
  opacity: 1;
  color: var(--font-color-gray);
}
#graphics-tools-module .upt-form-control:-ms-input-placeholder {
  opacity: 1;
  color: var(--font-color-gray);
}
#graphics-tools-module .upt-form-control::-ms-input-placeholder {
  opacity: 1;
  color: var(--font-color-gray);
}
#graphics-tools-module .upt-form-control::placeholder {
  opacity: 1;
  color: var(--font-color-gray);
}
#graphics-tools-module .animated-progress {
  --progress-bar-height: 1.25rem;
  --progress-bar-label-color: var(--green);
  --progress-bar-border-radius: 10px;
  width: 100%;
}
#graphics-tools-module .animated-progress--no-label .animated-progress-per::before, #graphics-tools-module .animated-progress--no-label .animated-progress-per::after {
  content: none;
}
#graphics-tools-module .animated-progress-name {
  font-weight: 700;
}
#graphics-tools-module .animated-progress-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.45rem;
  font-size: 1rem;
  gap: 0.5rem;
}
#graphics-tools-module .animated-progress-stats {
  font-weight: bold;
  text-align: right;
}
#graphics-tools-module .animated-progress-bar {
  display: flex;
  align-items: center;
  height: var(--progress-bar-height);
  border-radius: var(--progress-bar-border-radius);
  background: rgba(255, 255, 255, 0.168627451);
  box-shadow: inset rgba(0, 0, 0, 0.45) 0px 5px 15px, rgba(0, 0, 0, 0.34) 0px 3px 8px;
}
#graphics-tools-module .animated-progress-icon {
  position: relative;
  max-width: 4.375rem;
}
#graphics-tools-module .animated-progress-per {
  position: relative;
  width: 0;
  height: var(--progress-bar-height);
  transition: 1s linear;
  border-radius: var(--progress-bar-border-radius);
  background: var(--green);
  background: linear-gradient(to right, var(--green-opacity), var(--green));
}
#graphics-tools-module .animated-progress-per::before {
  content: attr(per) "%";
  position: absolute;
  z-index: 2;
  top: -2.25rem;
  right: 0;
  padding: 0.325rem 0.6rem;
  transform: translateX(50%) translateZ(0);
  border-radius: 4px;
  background-color: var(--progress-bar-label-color);
  color: #fff;
  font-size: 0.85rem;
  font-weight: bold;
  will-change: transform;
}
#graphics-tools-module .animated-progress-per::after {
  content: "";
  position: absolute;
  top: -1rem;
  right: 0;
  width: 0.6rem;
  height: 0.6rem;
  transform: translateX(50%) rotate(45deg) translateZ(0);
  border-radius: 2px;
  background-color: var(--progress-bar-label-color);
  will-change: transform;
}

#graphics-tools-module .custom-select-green {
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --border-radius: 5px;
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 2.9375rem;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
#graphics-tools-module .custom-select-green-hidden {
  display: none;
  visibility: hidden;
  padding-right: 0.625rem;
}
#graphics-tools-module .custom-select-green-styled {
  display: flex;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  gap: 0.9375rem;
  height: 100%;
  min-height: 2.9375rem;
  padding: 0.75rem 0.9375rem;
  transition: all 0.2s ease-in;
  border-radius: var(--border-radius);
  background-color: var(--green);
  box-shadow: var(--box-shadow);
}
#graphics-tools-module .custom-select-green-styled:after {
  content: "";
  position: absolute;
  top: calc(50% + 3.5px);
  right: 0.9375rem;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  border: 0.4375rem solid transparent;
  border-color: #fff transparent transparent transparent;
}
#graphics-tools-module .custom-select-green-styled:hover, #graphics-tools-module .custom-select-green-styled:active, #graphics-tools-module .custom-select-green-styled.active {
  background-color: var(--dark-green);
}
#graphics-tools-module .custom-select-green-styled:hover:after, #graphics-tools-module .custom-select-green-styled:active:after, #graphics-tools-module .custom-select-green-styled.active:after {
  transform: translateY(-100%) rotate(180deg);
}
#graphics-tools-module .custom-select-green-styled.active {
  background-color: var(--dark-green);
}
#graphics-tools-module .custom-select-green-styled.active:after {
  transform: translateY(-100%) rotate(180deg);
}
#graphics-tools-module .custom-select-green-options {
  display: none;
  position: absolute;
  z-index: 999;
  top: 94%;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0.75rem 0;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: var(--dark-green);
  box-shadow: var(--box-shadow);
  list-style: none;
}
#graphics-tools-module .custom-select-green-options li {
  display: inline-flex;
  gap: 0;
  width: 100%;
  margin: 0;
  padding: 0.75rem 0;
  transition: all 0.15s ease-in;
  border-top: 0.0625rem solid var(--dark-green);
  text-indent: 0.9375rem;
}
#graphics-tools-module .custom-select-green-options li:hover, #graphics-tools-module .custom-select-green-options li.is-selected {
  background: var(--green);
  color: #fff;
}
#graphics-tools-module .custom-select-green-options li[rel=hide] {
  display: none;
}

#graphics-tools-module .image-operation {
  margin: 0 auto;
  padding: 1.25rem 0;
  color: var(--font-color);
}
#graphics-tools-module .image-operation__header {
  margin-bottom: 1.25rem;
  text-align: center;
}
#graphics-tools-module .image-operation__alerts {
  margin-bottom: 1rem;
}
#graphics-tools-module .image-operation__title {
  margin: 0;
  font-size: 2.75rem;
}
#graphics-tools-module .image-operation__table-container {
  margin-bottom: 2rem;
}
@media (min-width: 65rem) {
  #graphics-tools-module .image-operation__table-container [data-preview-image] {
    width: 3.75rem;
    max-height: 3.75rem;
  }
}
#graphics-tools-module .image-operation__table-container .table-responsive-vertical {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#graphics-tools-module .image-operation__table-container td[data-size] {
  min-width: 6.25rem;
}
#graphics-tools-module .image-operation__table-container td[data-status] {
  max-width: 13.125rem;
}
#graphics-tools-module .image-operation__item-name {
  margin: 0;
  word-break: break-word;
}
#graphics-tools-module .image-operation__item-type {
  color: #6c757d;
  font-size: 0.9em;
}
#graphics-tools-module .image-operation__item-size {
  font-weight: 600;
}
#graphics-tools-module .image-operation__item-compressed-size {
  color: #2ecc71;
  font-weight: 600;
}
#graphics-tools-module .image-operation__compression-ratio {
  background-color: rgba(46, 204, 113, 0.1);
  color: #2ecc71;
  font-weight: bold;
}
#graphics-tools-module .image-operation__item-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border: none;
  background-color: rgba(var(--red), 0.7);
  color: var(--red);
  cursor: pointer;
  gap: 0.65rem;
}
#graphics-tools-module .image-operation__item-cancel-icon {
  transition: 0.3s;
  color: inherit;
  font-size: 1rem;
}
#graphics-tools-module .image-operation__item-cancel:hover {
  background-color: var(--red);
  color: white;
}
#graphics-tools-module .image-operation__item-cancel:hover .image-operation__item-cancel-icon {
  color: white;
}
#graphics-tools-module .image-operation__item-download {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border: none;
  background-color: rgba(var(--blue), 0.7);
  color: var(--blue);
  cursor: pointer;
  gap: 0.65rem;
}
#graphics-tools-module .image-operation__item-download-icon {
  transition: 0.3s;
  color: inherit;
  font-size: 1rem;
}
#graphics-tools-module .image-operation__item-download:hover {
  background-color: var(--blue);
  color: white;
}
#graphics-tools-module .image-operation__item-download:hover .image-operation__item-cancel-icon {
  color: white;
}
#graphics-tools-module .image-operation__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--panels-gap);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #1d1d1d;
  color: var(--white);
}
#graphics-tools-module .image-operation__actions-result {
  font-size: 1.5rem;
  font-weight: bold;
}
#graphics-tools-module .image-operation__actions-result-value {
  color: #2ecc71;
  text-transform: uppercase;
}
#graphics-tools-module .image-operation__actions-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.9375rem;
}

#graphics-tools-module-converter .select-files-btn {
  min-height: 2.9375rem;
  padding: 0.75rem 0.9375rem;
}
#graphics-tools-module-converter .change-quality__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#graphics-tools-module-converter .change-quality__label {
  display: block;
}
#graphics-tools-module-converter .change-quality__control {
  width: auto;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
#graphics-tools-module-converter .change-format__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--very-light-green-opacity);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  gap: 1rem;
}
@media (min-width: 55em) {
  #graphics-tools-module-converter .change-format__wrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: max-content;
    gap: 2rem;
  }
}
#graphics-tools-module-converter .change-format__wrapper .custom-popover-button, #graphics-tools-module-converter .change-format__wrapper .custom-select-green {
  min-width: 18rem;
}
#graphics-tools-module-converter .change-format__wrapper .custom-select-green-styled {
  font-weight: bold;
}
#graphics-tools-module-converter .change-format__compress-switch {
  width: max-content;
}
#graphics-tools-module-converter .change-format__label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}
