#graphics-tools-module .toast {
  --primary: #2659ffd3;
  --secondary: #fff;
  display: flex;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 37.5rem;
  padding: 0.75rem 1.5rem;
  overflow: hidden;
  border-radius: 10px;
  background: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--secondary);
}
#graphics-tools-module .toast-container {
  display: flex;
  position: fixed;
  z-index: 989;
  top: 1rem;
  right: 0.15rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}
@media (min-width: 40em) {
  #graphics-tools-module .toast-container {
    right: 1.5rem;
  }
}
#graphics-tools-module .toast.success {
  --primary: #00c11ad3;
}
#graphics-tools-module .toast.warning {
  --primary: #cf7900d3;
}
#graphics-tools-module .toast.error {
  --primary: #e40000d3;
}
#graphics-tools-module .toast.info {
  --primary: #3665ffd3;
}
#graphics-tools-module .toast .icon {
  color: inherit;
  font-size: 1.75rem;
}
#graphics-tools-module .toast .toast-message {
  padding: 0.3125rem 0.9375rem;
}
#graphics-tools-module .toast .toast-message-title, #graphics-tools-module .toast .toast-message-text {
  margin: 0;
  line-height: 1.2em;
}
#graphics-tools-module .toast .toast-message-title {
  font-size: 1rem;
  font-weight: 600;
}
#graphics-tools-module .toast .toast-message-text {
  font-size: 1rem;
}
#graphics-tools-module .toast .toast-close {
  position: relative;
  padding: 0.75rem;
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}
#graphics-tools-module .toast .toast-close:hover {
  transform: scale(1.8);
  background: rgba(0, 0, 0, 0.1);
}
#graphics-tools-module .toast .toast-close::before, #graphics-tools-module .toast .toast-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.125rem;
  height: 0.75rem;
  transition: background 0.2s ease-in-out;
  border-radius: 5px;
  background: var(--secondary);
}
#graphics-tools-module .toast .toast-close:hover::before, #graphics-tools-module .toast .toast-close:hover::after {
  background: var(--secondary);
}
#graphics-tools-module .toast .toast-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
#graphics-tools-module .toast .toast-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@-webkit-keyframes close {
  from {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
  to {
    visibility: hidden;
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes close {
  from {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
  to {
    visibility: hidden;
    transform: scale(0.5);
    opacity: 0;
  }
}
@-webkit-keyframes open {
  from {
    visibility: hidden;
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes open {
  from {
    visibility: hidden;
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}
#graphics-tools-module .toast .timer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.25rem;
  border-top-right-radius: 5px;
  background: var(--secondary);
  box-shadow: 0 0 8px var(--secondary);
}
#graphics-tools-module .toast .timer-animation {
  -webkit-animation: countdown 5s linear forwards;
  animation: countdown 5s linear forwards;
}
@-webkit-keyframes countdown {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes countdown {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

#graphics-tools-module .alert {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  padding: 0.625rem;
  position: relative;
  color: #fff;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
}
@media (min-width: 30em) {
  #graphics-tools-module .alert {
    padding: 1.25rem;
  }
}
#graphics-tools-module .alert .icon {
  font-size: 1.5rem;
}
#graphics-tools-module .alert .message {
  font-weight: bold;
  padding-right: 2.5rem;
}
#graphics-tools-module .alert .close {
  --size: 2rem;
  position: absolute;
  width: var(--size);
  height: var(--size);
  opacity: 0.75;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.568627451);
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
  text-align: center;
  font-size: 1.25em;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 1px 4px;
}
#graphics-tools-module .alert .close:hover, #graphics-tools-module .alert .close:focus, #graphics-tools-module .alert .close:active {
  opacity: 1;
}
#graphics-tools-module .info-alert {
  background-color: rgba(54, 101, 255, 0.8823529412);
  border-left: 5px solid rgba(0, 48.4029850746, 207, 0.8823529412);
}
#graphics-tools-module .info-alert .close {
  border-color: rgba(0, 48.4029850746, 207, 0.8823529412);
  color: rgba(0, 48.4029850746, 207, 0.8823529412);
}
#graphics-tools-module .success-alert {
  background-color: rgba(0, 193, 26, 0.8862745098);
  border-left: 5px solid rgba(0, 91, 12.2590673575, 0.8862745098);
}
#graphics-tools-module .success-alert .close {
  border-color: rgba(0, 91, 12.2590673575, 0.8862745098);
  color: rgba(0, 91, 12.2590673575, 0.8862745098);
}
#graphics-tools-module .error-alert {
  background-color: rgba(228, 0, 0, 0.8901960784);
  border-left: 5px solid rgba(126, 0, 0, 0.8901960784);
}
#graphics-tools-module .error-alert .close {
  border-color: rgba(126, 0, 0, 0.8901960784);
  color: rgba(126, 0, 0, 0.8901960784);
}
#graphics-tools-module .warning-alert {
  background-color: rgba(207, 121, 0, 0.8941176471);
  border-left: 5px solid rgba(105, 61.3768115942, 0, 0.8941176471);
}
#graphics-tools-module .warning-alert .close {
  border-color: rgba(105, 61.3768115942, 0, 0.8941176471);
  color: rgba(105, 61.3768115942, 0, 0.8941176471);
}

#graphics-tools-module .drop-zone__upload-area {
  position: relative;
  margin-bottom: 1.25rem;
  padding: 2.5rem 1.25rem;
  transition: border-color 0.3s, background-color 0.3s;
  border: 3px dashed var(--gray);
  border-radius: 15px;
}
#graphics-tools-module .drop-zone__upload-area.drag-over {
  border-color: var(--green);
  background-color: rgba(var(--green), 0.05);
}
#graphics-tools-module .drop-zone__upload-area.has-files {
  border-color: var(--green);
  background-color: rgba(var(--green), 0.05);
}
#graphics-tools-module .drop-zone__upload-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#graphics-tools-module .drop-zone__upload-icon {
  margin-bottom: 0.9375rem;
  color: var(--green);
  font-size: 3rem;
}
#graphics-tools-module .drop-zone__upload-text {
  margin: 0 0 0.9375rem;
  color: var(--font-color-gray);
  font-size: 1.2rem;
}
#graphics-tools-module .drop-zone__file-input {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#graphics-tools-module .hidden-animation {
  position: absolute;
  z-index: -999;
  opacity: 0;
  pointer-events: none;
}

.visually-hidden, .sr-only:not(:focus):not(:active) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

#graphics-tools-module .custom-switch {
  --width: 3.75rem;
  --height: 1.8rem;
  --padding: 0.3125rem;
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: var(--height);
  margin: 1rem 0;
  cursor: pointer;
  gap: calc(var(--width) / 2 + 0.5rem);
}
#graphics-tools-module .custom-switch:has(:focus):after {
  outline: auto;
}
#graphics-tools-module .custom-switch > * {
  cursor: pointer;
}
#graphics-tools-module .custom-switch:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: var(--width);
  height: var(--height);
  transform: translateY(-50%);
  border-radius: 100vw;
  background-color: #f1f1f1;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.46) 0px 1px 4px;
}
#graphics-tools-module .custom-switch .toggle {
  display: block;
}
#graphics-tools-module .custom-switch .toggle > * {
  transform: translateZ(0) scale(1, 1);
}
#graphics-tools-module .custom-switch .toggle--handler {
  display: block;
  position: relative;
  z-index: 2;
  width: calc(var(--height) - var(--padding));
  height: calc(var(--height) - var(--padding));
  margin: calc(var(--height) / 10) !important;
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
  background: linear-gradient(to bottom, #f5515f, #cd2942);
}
#graphics-tools-module .custom-switch .toggle--handler:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 200ms;
  border-radius: 50%;
  opacity: 0;
  background: linear-gradient(to bottom, #468eff, #2b68ff);
}
#graphics-tools-module .custom-switch input {
  position: absolute;
  opacity: 0;
}
#graphics-tools-module .custom-switch input:checked + .toggle .toggle--handler {
  transform: translateX(var(--height));
  background: linear-gradient(to bottom, #468eff, #2b68ff);
}
#graphics-tools-module .custom-switch input:checked + .toggle .toggle--handler:after {
  opacity: 1;
}
#graphics-tools-module .custom-switch input:checked + .toggle .toggle--handler:before {
  z-index: 5;
  transform: translate(-50%, -50%) rotate(0deg);
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>assets/icons/cross copy</title><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M0 0h24v24H0z"/><path fill="#FFF" d="M8.293 16.707l.707.707.707-.707 11-11-1.414-1.414-11 11h1.414l-4-4-1.414 1.414z"/></g></svg>');
}

#graphics-tools-module .custom-popover {
  height: 100%;
}
#graphics-tools-module .custom-popover-content {
  display: block;
  padding: 0.75rem 0.9375rem !important;
}
#graphics-tools-module .custom-popover-button {
  width: 100%;
  color: inherit;
  font-size: inherit;
}

#graphics-tools-module .floating-label-grid {
  display: grid;
  gap: 1rem;
}
#graphics-tools-module .floating-label {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  padding: 0.25rem 0.75rem;
  transform: translateY(-50%);
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.2s;
  border-radius: 0.375em;
  background: #fff;
  color: hsl(0, 0%, 50%);
  font-size: 0.9375rem;
  line-height: 1;
  -webkit-clip-path: none;
  clip-path: none;
}
#graphics-tools-module .floating-label--for-select {
  transform: translateY(-100%);
  background-color: transparent;
}
#graphics-tools-module .floating-label-control {
  padding: 0.75rem;
  color: var(--font-color);
  background-color: var(--background-50);
}
#graphics-tools-module .floating-label-control:placeholder-shown + .floating-label {
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  transform: translateY(-25%);
}
#graphics-tools-module .floating-label-control:focus {
  background-color: var(--background);
}
#graphics-tools-module .floating-label-control:focus ~ .upt-icon {
  color: var(--green);
}
#graphics-tools-module .floating-label-control:focus + .floating-label {
  color: var(--green);
}
#graphics-tools-module .upt-form-control {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  padding-left: 1rem;
  transition: 0.2s;
  border: none;
  background: var(--background-25);
  font-family: inherit;
  color: var(--font-color);
  font-size: 1em;
  line-height: 1.2;
}
#graphics-tools-module .upt-form-control::-webkit-input-placeholder {
  opacity: 1;
  color: var(--font-color-gray);
}
#graphics-tools-module .upt-form-control::-moz-placeholder {
  opacity: 1;
  color: var(--font-color-gray);
}
#graphics-tools-module .upt-form-control:-ms-input-placeholder {
  opacity: 1;
  color: var(--font-color-gray);
}
#graphics-tools-module .upt-form-control::-ms-input-placeholder {
  opacity: 1;
  color: var(--font-color-gray);
}
#graphics-tools-module .upt-form-control::placeholder {
  opacity: 1;
  color: var(--font-color-gray);
}
#graphics-tools-module .custom-select-green {
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --border-radius: 5px;
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 2.9375rem;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
#graphics-tools-module .custom-select-green-hidden {
  display: none;
  visibility: hidden;
  padding-right: 0.625rem;
}
#graphics-tools-module .custom-select-green-styled {
  display: flex;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  gap: 0.9375rem;
  height: 100%;
  min-height: 2.9375rem;
  padding: 0.75rem 0.9375rem;
  transition: all 0.2s ease-in;
  border-radius: var(--border-radius);
  background-color: var(--green);
  box-shadow: var(--box-shadow);
}
#graphics-tools-module .custom-select-green-styled:after {
  content: "";
  position: absolute;
  top: calc(50% + 3.5px);
  right: 0.9375rem;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  border: 0.4375rem solid transparent;
  border-color: #fff transparent transparent transparent;
}
#graphics-tools-module .custom-select-green-styled:hover, #graphics-tools-module .custom-select-green-styled:active, #graphics-tools-module .custom-select-green-styled.active {
  background-color: var(--dark-green);
}
#graphics-tools-module .custom-select-green-styled:hover:after, #graphics-tools-module .custom-select-green-styled:active:after, #graphics-tools-module .custom-select-green-styled.active:after {
  transform: translateY(-100%) rotate(180deg);
}
#graphics-tools-module .custom-select-green-styled.active {
  background-color: var(--dark-green);
}
#graphics-tools-module .custom-select-green-styled.active:after {
  transform: translateY(-100%) rotate(180deg);
}
#graphics-tools-module .custom-select-green-options {
  display: none;
  position: absolute;
  z-index: 999;
  top: 94%;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0.75rem 0;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: var(--dark-green);
  box-shadow: var(--box-shadow);
  list-style: none;
}
#graphics-tools-module .custom-select-green-options li {
  display: inline-flex;
  gap: 0;
  width: 100%;
  margin: 0;
  padding: 0.75rem 0;
  transition: all 0.15s ease-in;
  border-top: 0.0625rem solid var(--dark-green);
  text-indent: 0.9375rem;
}
#graphics-tools-module .custom-select-green-options li:hover, #graphics-tools-module .custom-select-green-options li.is-selected {
  background: var(--green);
  color: #fff;
}
#graphics-tools-module .custom-select-green-options li[rel=hide] {
  display: none;
}

#graphics-tools-module .animated-progress {
  --progress-bar-height: 1.25rem;
  --progress-bar-label-color: var(--green);
  --progress-bar-border-radius: 10px;
  width: 100%;
}
#graphics-tools-module .animated-progress--no-label .animated-progress-per::before, #graphics-tools-module .animated-progress--no-label .animated-progress-per::after {
  content: none;
}
#graphics-tools-module .animated-progress-name {
  font-weight: 700;
}
#graphics-tools-module .animated-progress-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.45rem;
  font-size: 1rem;
  gap: 0.5rem;
}
#graphics-tools-module .animated-progress-stats {
  font-weight: bold;
  text-align: right;
}
#graphics-tools-module .animated-progress-bar {
  display: flex;
  align-items: center;
  height: var(--progress-bar-height);
  border-radius: var(--progress-bar-border-radius);
  background: rgba(255, 255, 255, 0.168627451);
  box-shadow: inset rgba(0, 0, 0, 0.45) 0px 5px 15px, rgba(0, 0, 0, 0.34) 0px 3px 8px;
}
#graphics-tools-module .animated-progress-icon {
  position: relative;
  max-width: 4.375rem;
}
#graphics-tools-module .animated-progress-per {
  position: relative;
  width: 0;
  height: var(--progress-bar-height);
  transition: 1s linear;
  border-radius: var(--progress-bar-border-radius);
  background: var(--green);
  background: linear-gradient(to right, var(--green-opacity), var(--green));
}
#graphics-tools-module .animated-progress-per::before {
  content: attr(per) "%";
  position: absolute;
  z-index: 2;
  top: -2.25rem;
  right: 0;
  padding: 0.325rem 0.6rem;
  transform: translateX(50%) translateZ(0);
  border-radius: 4px;
  background-color: var(--progress-bar-label-color);
  color: #fff;
  font-size: 0.85rem;
  font-weight: bold;
  will-change: transform;
}
#graphics-tools-module .animated-progress-per::after {
  content: "";
  position: absolute;
  top: -1rem;
  right: 0;
  width: 0.6rem;
  height: 0.6rem;
  transform: translateX(50%) rotate(45deg) translateZ(0);
  border-radius: 2px;
  background-color: var(--progress-bar-label-color);
  will-change: transform;
}

#graphics-tools-module-editor {
  position: relative;
  min-height: 43.75rem;
}
#graphics-tools-module-editor .editor-loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  background-color: var(--very-light-green);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
#graphics-tools-module-editor .editor-loading-message {
  order: -1;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}
#graphics-tools-module-editor .editor-loading .animated-progress {
  max-width: 43.75rem;
  color: #fff;
}
#graphics-tools-module-editor .editor-loading .animated-progress * {
  color: #fff;
}
#graphics-tools-module-editor .editor-container {
  display: grid;
  gap: 1rem;
}
@media (min-width: 55em) {
  #graphics-tools-module-editor .editor-container {
    place-content: start;
    grid-template-columns: 1fr 18.75rem;
    gap: 1.5rem;
  }
}
#graphics-tools-module-editor .editor-container .settings-panel-top {
  grid-column: span 2;
}
#graphics-tools-module-editor .editor-container .image-preview-container .image-preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#graphics-tools-module-editor .editor-container .image-preview-container .cropper-wrapper {
  width: 100%;
  height: 31.25rem;
  margin: 0 auto;
}
#graphics-tools-module-editor .editor-container .image-preview-container cropper-canvas {
  min-height: 100%;
}
