#graphics-tools-module .toast {
  --primary: #2659ffd3;
  --secondary: #fff;
  display: flex;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 37.5rem;
  padding: 0.75rem 1.5rem;
  overflow: hidden;
  border-radius: 10px;
  background: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--secondary);
}
#graphics-tools-module .toast-container {
  display: flex;
  position: fixed;
  z-index: 989;
  top: 1rem;
  right: 0.15rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}
@media (min-width: 40em) {
  #graphics-tools-module .toast-container {
    right: 1.5rem;
  }
}
#graphics-tools-module .toast.success {
  --primary: #00c11ad3;
}
#graphics-tools-module .toast.warning {
  --primary: #cf7900d3;
}
#graphics-tools-module .toast.error {
  --primary: #e40000d3;
}
#graphics-tools-module .toast.info {
  --primary: #3665ffd3;
}
#graphics-tools-module .toast .icon {
  color: inherit;
  font-size: 1.75rem;
}
#graphics-tools-module .toast .toast-message {
  padding: 0.3125rem 0.9375rem;
}
#graphics-tools-module .toast .toast-message-title, #graphics-tools-module .toast .toast-message-text {
  margin: 0;
  line-height: 1.2em;
}
#graphics-tools-module .toast .toast-message-title {
  font-size: 1rem;
  font-weight: 600;
}
#graphics-tools-module .toast .toast-message-text {
  font-size: 1rem;
}
#graphics-tools-module .toast .toast-close {
  position: relative;
  padding: 0.75rem;
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}
#graphics-tools-module .toast .toast-close:hover {
  transform: scale(1.8);
  background: rgba(0, 0, 0, 0.1);
}
#graphics-tools-module .toast .toast-close::before, #graphics-tools-module .toast .toast-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.125rem;
  height: 0.75rem;
  transition: background 0.2s ease-in-out;
  border-radius: 5px;
  background: var(--secondary);
}
#graphics-tools-module .toast .toast-close:hover::before, #graphics-tools-module .toast .toast-close:hover::after {
  background: var(--secondary);
}
#graphics-tools-module .toast .toast-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
#graphics-tools-module .toast .toast-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@-webkit-keyframes close {
  from {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
  to {
    visibility: hidden;
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes close {
  from {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
  to {
    visibility: hidden;
    transform: scale(0.5);
    opacity: 0;
  }
}
@-webkit-keyframes open {
  from {
    visibility: hidden;
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes open {
  from {
    visibility: hidden;
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}
#graphics-tools-module .toast .timer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.25rem;
  border-top-right-radius: 5px;
  background: var(--secondary);
  box-shadow: 0 0 8px var(--secondary);
}
#graphics-tools-module .toast .timer-animation {
  -webkit-animation: countdown 5s linear forwards;
  animation: countdown 5s linear forwards;
}
@-webkit-keyframes countdown {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes countdown {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

#graphics-tools-module .alert {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  padding: 0.625rem;
  position: relative;
  color: #fff;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
}
@media (min-width: 30em) {
  #graphics-tools-module .alert {
    padding: 1.25rem;
  }
}
#graphics-tools-module .alert .icon {
  font-size: 1.5rem;
}
#graphics-tools-module .alert .message {
  font-weight: bold;
  padding-right: 2.5rem;
}
#graphics-tools-module .alert .close {
  --size: 2rem;
  position: absolute;
  width: var(--size);
  height: var(--size);
  opacity: 0.75;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.568627451);
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
  text-align: center;
  font-size: 1.25em;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 1px 4px;
}
#graphics-tools-module .alert .close:hover, #graphics-tools-module .alert .close:focus, #graphics-tools-module .alert .close:active {
  opacity: 1;
}
#graphics-tools-module .info-alert {
  background-color: rgba(54, 101, 255, 0.8823529412);
  border-left: 5px solid rgba(0, 48.4029850746, 207, 0.8823529412);
}
#graphics-tools-module .info-alert .close {
  border-color: rgba(0, 48.4029850746, 207, 0.8823529412);
  color: rgba(0, 48.4029850746, 207, 0.8823529412);
}
#graphics-tools-module .success-alert {
  background-color: rgba(0, 193, 26, 0.8862745098);
  border-left: 5px solid rgba(0, 91, 12.2590673575, 0.8862745098);
}
#graphics-tools-module .success-alert .close {
  border-color: rgba(0, 91, 12.2590673575, 0.8862745098);
  color: rgba(0, 91, 12.2590673575, 0.8862745098);
}
#graphics-tools-module .error-alert {
  background-color: rgba(228, 0, 0, 0.8901960784);
  border-left: 5px solid rgba(126, 0, 0, 0.8901960784);
}
#graphics-tools-module .error-alert .close {
  border-color: rgba(126, 0, 0, 0.8901960784);
  color: rgba(126, 0, 0, 0.8901960784);
}
#graphics-tools-module .warning-alert {
  background-color: rgba(207, 121, 0, 0.8941176471);
  border-left: 5px solid rgba(105, 61.3768115942, 0, 0.8941176471);
}
#graphics-tools-module .warning-alert .close {
  border-color: rgba(105, 61.3768115942, 0, 0.8941176471);
  color: rgba(105, 61.3768115942, 0, 0.8941176471);
}

#graphics-tools-module .images-gallery {
  --text-light: #f8f9fa;
  --text-dark: #2c3e50;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --card-bg: rgba(255, 255, 255, 0.9);
}
@media (max-width: 55em) {
  #graphics-tools-module .images-gallery [data-gallery-maximize-btn] {
    display: none !important;
  }
  #graphics-tools-module .images-gallery [data-gallery-minimize-btn] {
    display: none !important;
  }
}
#graphics-tools-module .images-gallery .gallery-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}
#graphics-tools-module .images-gallery .gallery-content {
  position: relative;
  width: 100%;
  height: 100%;
}
#graphics-tools-module .images-gallery .gallery-image {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 90%;
  max-height: 80%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease;
  border-radius: 0.9375rem;
  opacity: 0;
  object-fit: contain;
}
#graphics-tools-module .images-gallery .gallery-image.active {
  opacity: 1;
}
@media (max-width: 55em) {
  #graphics-tools-module .images-gallery .gallery-image.active {
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    border: none;
    object-fit: cover;
    border-radius: 0;
  }
}
#graphics-tools-module .images-gallery .gallery-image.fullscreen {
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  border: none;
  object-fit: cover;
  border-radius: 0;
}
#graphics-tools-module .images-gallery .gallery-nav {
  display: flex;
  position: absolute;
  top: 50%;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  height: 3.125rem;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--text-light);
  font-size: 2rem;
  cursor: pointer;
}
#graphics-tools-module .images-gallery .gallery-nav:hover {
  transform: translateY(-50%) scale(1.1);
  background-color: var(--green);
}
#graphics-tools-module .images-gallery .gallery-prev {
  left: 1.25rem;
}
#graphics-tools-module .images-gallery .gallery-next {
  right: 1.25rem;
}
#graphics-tools-module .images-gallery .gallery-options {
  display: flex;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #fff;
}
#graphics-tools-module .images-gallery .gallery-option-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  height: 3.125rem;
  transition: all 0.3s ease;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--text-light);
  font-size: 1.5rem;
  cursor: pointer;
}
#graphics-tools-module .images-gallery .gallery-option-btn:hover, #graphics-tools-module .images-gallery .gallery-option-btn:focus, #graphics-tools-module .images-gallery .gallery-option-btn:active {
  color: var(--green);
}
#graphics-tools-module .images-gallery .gallery-option-btn * {
  pointer-events: none;
}
#graphics-tools-module .images-gallery .gallery-others {
  display: flex;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #fff;
}
#graphics-tools-module .images-gallery .gallery-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  height: 3.125rem;
  transition: all 0.3s ease;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--text-light);
  font-size: 2rem;
  cursor: pointer;
}
#graphics-tools-module .images-gallery .gallery-close:hover {
  transform: rotate(90deg);
  color: var(--green);
}
#graphics-tools-module .images-gallery .gallery-counter {
  padding: 0.3125rem 0.9375rem;
  border-radius: 1.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--text-light);
  font-size: 1rem;
}
#graphics-tools-module .images-gallery .gallery-thumbnails {
  display: flex;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  max-width: 80%;
  padding: 0.625rem;
  overflow-x: auto;
  transform: translateX(-50%);
  gap: 0.6rem;
  scrollbar-width: thin;
  scrollbar-color: var(--green) transparent;
}
#graphics-tools-module .images-gallery .gallery-thumbnails::-webkit-scrollbar {
  height: 0.3125rem;
}
#graphics-tools-module .images-gallery .gallery-thumbnails::-webkit-scrollbar-thumb {
  border-radius: 0.3125rem;
  background-color: var(--green);
}
#graphics-tools-module .images-gallery .gallery-thumbnail {
  width: 3.75rem;
  height: 2.5rem;
  transition: all 0.3s ease;
  border: 0.125rem solid transparent;
  border-radius: 0.4375rem;
  cursor: pointer;
  object-fit: cover;
}
#graphics-tools-module .images-gallery .gallery-thumbnail.active {
  transform: scale(1.1);
}
@media (max-width: 48rem) {
  #graphics-tools-module .images-gallery .gallery-nav {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
  #graphics-tools-module .images-gallery .gallery-thumbnails {
    bottom: 3.125rem;
  }
}
@keyframes float-around {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(3.125rem, -3.125rem) rotate(90deg);
  }
  50% {
    transform: translate(0, -6.25rem) rotate(180deg);
  }
  75% {
    transform: translate(-3.125rem, -3.125rem) rotate(270deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotate-border {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 300% 0%;
  }
}

#graphics-tools-module .custom-select-green {
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --border-radius: 5px;
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 2.9375rem;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
#graphics-tools-module .custom-select-green-hidden {
  display: none;
  visibility: hidden;
  padding-right: 0.625rem;
}
#graphics-tools-module .custom-select-green-styled {
  display: flex;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  gap: 0.9375rem;
  height: 100%;
  min-height: 2.9375rem;
  padding: 0.75rem 0.9375rem;
  transition: all 0.2s ease-in;
  border-radius: var(--border-radius);
  background-color: var(--green);
  box-shadow: var(--box-shadow);
}
#graphics-tools-module .custom-select-green-styled[disabled] {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}
#graphics-tools-module .custom-select-green-styled:after {
  content: "";
  position: absolute;
  top: calc(50% + 3.5px);
  right: 0.9375rem;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  border: 0.4375rem solid transparent;
  border-color: #fff transparent transparent transparent;
}
#graphics-tools-module .custom-select-green-styled:hover, #graphics-tools-module .custom-select-green-styled:active, #graphics-tools-module .custom-select-green-styled.active {
  background-color: var(--dark-green);
}
#graphics-tools-module .custom-select-green-styled:hover:after, #graphics-tools-module .custom-select-green-styled:active:after, #graphics-tools-module .custom-select-green-styled.active:after {
  transform: translateY(-100%) rotate(180deg);
}
#graphics-tools-module .custom-select-green-styled.active {
  background-color: var(--dark-green);
}
#graphics-tools-module .custom-select-green-styled.active:after {
  transform: translateY(-100%) rotate(180deg);
}
#graphics-tools-module .custom-select-green-options {
  display: none;
  position: absolute;
  z-index: 999;
  top: 94%;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0.75rem 0;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: var(--dark-green);
  box-shadow: var(--box-shadow);
  list-style: none;
}
#graphics-tools-module .custom-select-green-options li {
  display: inline-flex;
  gap: 0;
  width: 100%;
  margin: 0;
  padding: 0.75rem 0;
  transition: all 0.15s ease-in;
  border-top: 0.0625rem solid var(--dark-green);
  text-indent: 0.9375rem;
}
#graphics-tools-module .custom-select-green-options li:hover, #graphics-tools-module .custom-select-green-options li.is-selected {
  background: var(--green);
  color: #fff;
}
#graphics-tools-module .custom-select-green-options li[rel=hide] {
  display: none;
}

#graphics-tools-module .floating-label-grid {
  display: grid;
  gap: 1rem;
}
#graphics-tools-module .floating-label {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  padding: 0.25rem 0.75rem;
  transform: translateY(-50%);
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.2s;
  border-radius: 0.375em;
  background: #fff;
  color: hsl(0, 0%, 50%);
  font-size: 0.9375rem;
  line-height: 1;
  -webkit-clip-path: none;
  clip-path: none;
}
#graphics-tools-module .floating-label--for-select {
  transform: translateY(-100%);
  background-color: transparent;
}
#graphics-tools-module .floating-label-control {
  padding: 0.75rem;
  color: var(--font-color);
  background-color: var(--background-50);
}
#graphics-tools-module .floating-label-control:placeholder-shown + .floating-label {
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  transform: translateY(-25%);
}
#graphics-tools-module .floating-label-control:focus {
  background-color: var(--background);
}
#graphics-tools-module .floating-label-control:focus ~ .icon {
  color: var(--green);
}
#graphics-tools-module .floating-label-control:focus + .floating-label {
  color: var(--green);
}
#graphics-tools-module .form-control {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  padding-left: 1rem;
  transition: 0.2s;
  border: none;
  background: var(--background-25);
  font-family: inherit;
  color: var(--font-color);
  font-size: 1em;
  line-height: 1.2;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}
#graphics-tools-module .form-control[disabled] {
  opacity: 0.4;
}
#graphics-tools-module .form-control::-webkit-input-placeholder {
  opacity: 1;
  color: var(--font-color-gray);
}
#graphics-tools-module .form-control::-moz-placeholder {
  opacity: 1;
  color: var(--font-color-gray);
}
#graphics-tools-module .form-control:-ms-input-placeholder {
  opacity: 1;
  color: var(--font-color-gray);
}
#graphics-tools-module .form-control::-ms-input-placeholder {
  opacity: 1;
  color: var(--font-color-gray);
}
#graphics-tools-module .form-control::placeholder {
  opacity: 1;
  color: var(--font-color-gray);
}
#graphics-tools-module .search-form {
  display: flex;
  align-items: center;
  width: 100%;
}
#graphics-tools-module .search-form .search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.9375rem;
  padding: 0 1rem !important;
  border-radius: 0.375em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#graphics-tools-module .search-form .search-btn i {
  font-size: 1.15rem;
}
#graphics-tools-module .search-box {
  position: relative;
  width: 100%;
}
#graphics-tools-module .search-box input[type=search] {
  width: 100%;
  min-height: 2.9375rem;
  border-radius: 0.375em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: var(--light-green);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#graphics-tools-module .loading-btn-icon::after {
  content: "";
  width: 1rem;
  height: 1rem;
  -webkit-animation: var(--loading-animation-for-icon);
  animation: var(--loading-animation-for-icon);
  background-image: var(--loading-icon-white);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#graphics-tools-module .loading {
  position: relative;
}
#graphics-tools-module .loading::after {
  content: "";
  position: absolute;
  z-index: 29;
  top: 50%;
  left: 50%;
  width: min(40%, 12.5rem);
  height: min(40%, 12.5rem);
  transform: translate(-50%, -50%);
  -webkit-animation: var(--loading-animation);
  animation: var(--loading-animation);
  background-image: var(--loading-icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#graphics-tools-module .loading--with-bg::before {
  content: "";
  position: absolute;
  z-index: 28;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: var(--background-50);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

#graphics-tools-module {
  --modal-transition-duration: 0.3s;
}
#graphics-tools-module .modal {
  z-index: 800;
  width: 100%;
  max-width: none;
  min-height: 100%;
  border: 0;
  background: transparent;
  color: var(--font-color);
}
#graphics-tools-module .modal[open] {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: fade-in var(--modal-transition-duration) forwards;
  animation: fade-in var(--modal-transition-duration) forwards;
}
#graphics-tools-module .modal[open]::-webkit-backdrop {
  -webkit-animation: fade-in var(--modal-transition-duration) forwards;
  animation: fade-in var(--modal-transition-duration) forwards;
}
#graphics-tools-module .modal[open]::backdrop {
  -webkit-animation: fade-in var(--modal-transition-duration) forwards;
  animation: fade-in var(--modal-transition-duration) forwards;
}
#graphics-tools-module .modal__header-title {
  font-weight: bold;
  font-size: 1.5rem;
}
#graphics-tools-module .modal__content {
  position: relative;
  width: 97.5% !important;
  max-width: 50rem;
  max-height: 95vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 20px;
  background: var(--background);
}
#graphics-tools-module .modal__close-btn {
  position: absolute;
  z-index: 3;
  top: 0.3rem;
  right: 0.3rem;
  transition: 0.2s;
  border-radius: 50%;
}
@media (min-width: 45em) {
  #graphics-tools-module .modal__close-btn {
    top: 1rem;
    right: 1rem;
  }
}
#graphics-tools-module .modal__close-btn-icon {
  display: block;
  width: 100% !important;
}
#graphics-tools-module .modal__close-btn--inner {
  width: 2.5rem;
  height: 2.5rem;
  transition: 0.3s;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), 0 0.3px 0.4px rgba(0, 0, 0, 0.025), 0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
}
#graphics-tools-module .modal__close-btn--inner:hover, #graphics-tools-module .modal__close-btn--inner:focus {
  transform: rotate(180deg) scale(1.05);
}
#graphics-tools-module .modal::-webkit-backdrop {
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
}
#graphics-tools-module .modal::backdrop {
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
}
#graphics-tools-module .modal[closing] {
  -webkit-animation: fade-out var(--modal-transition-duration) forwards;
  animation: fade-out var(--modal-transition-duration) forwards;
  pointer-events: none;
}
#graphics-tools-module .modal[closing]::-webkit-backdrop {
  -webkit-animation: fade-out var(--modal-transition-duration) forwards;
  animation: fade-out var(--modal-transition-duration) forwards;
}
#graphics-tools-module .modal[closing]::backdrop {
  -webkit-animation: fade-out var(--modal-transition-duration) forwards;
  animation: fade-out var(--modal-transition-duration) forwards;
}

#graphics-tools-module-user-images-panel {
  width: 100%;
}
#graphics-tools-module-user-images-panel .panel-header {
  margin-bottom: 1.5rem;
}
#graphics-tools-module-user-images-panel .panel-header .header {
  margin: 0 0 1rem 0;
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: bold;
}
@media (min-width: 55em) {
  #graphics-tools-module-user-images-panel .panel-header .header {
    font-size: 1.8rem;
  }
}
#graphics-tools-module-user-images-panel .search-form .search-box input[type=search] {
  min-width: 21.875rem;
}
#graphics-tools-module-user-images-panel #filter-reset {
  padding: 0.9rem 1.5rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1rem;
}
#graphics-tools-module-user-images-panel .panel-controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.25rem;
}
@media (min-width: 76.5625rem) {
  #graphics-tools-module-user-images-panel .panel-controls {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
#graphics-tools-module-user-images-panel .filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
#graphics-tools-module-user-images-panel .filters-container .filter-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#graphics-tools-module-user-images-panel .filters-container .filter-group label {
  color: var(--font-color);
  white-space: nowrap;
}
#graphics-tools-module-user-images-panel .filters-container .filter-group .custom-select-green {
  min-width: 14.0625rem;
}
#graphics-tools-module-user-images-panel .loading-indicator {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: bold;
  gap: 1rem;
}
#graphics-tools-module-user-images-panel .loading-indicator.visible {
  display: flex;
  margin-bottom: 2rem;
}
#graphics-tools-module-user-images-panel .loading-indicator i {
  font-size: 1.5em;
}
#graphics-tools-module-user-images-panel .status-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
#graphics-tools-module-user-images-panel .status-container .results-info {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--background-gray);
  color: var(--font-color);
  color: var(--green);
  font-size: 0.9rem;
  font-weight: bold;
}
#graphics-tools-module-user-images-panel .images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20.9375rem, 1fr));
  width: 100%;
  list-style: none;
  gap: 1rem;
}
#graphics-tools-module-user-images-panel .images-grid .image-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}
#graphics-tools-module-user-images-panel .images-grid .image-card {
  padding: 0;
}
#graphics-tools-module-user-images-panel .images-grid .image-card .badge-link {
  width: 100%;
}
@media (min-width: 103.125em) {
  #graphics-tools-module-user-images-panel .images-grid {
    grid-template-columns: repeat(auto-fill, minmax(21.875rem, 1fr));
  }
}
#graphics-tools-module-user-images-panel .image-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 3/1.75;
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.55) 0rem 0.3125rem 0.9375rem;
  text-decoration: none;
}
#graphics-tools-module-user-images-panel .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease-in;
}
#graphics-tools-module-user-images-panel .image-wrapper:hover img {
  transform: scale(1.125);
}
#graphics-tools-module-user-images-panel .image-overlay {
  display: flex;
  position: absolute;
  z-index: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 0.85rem 1rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(255, 255, 255, 0) 90%);
}
#graphics-tools-module-user-images-panel .photo-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#graphics-tools-module-user-images-panel .photo-info-text {
  width: calc(100% - 2.5rem);
}
#graphics-tools-module-user-images-panel .photo-info-text p {
  margin: 0;
}
#graphics-tools-module-user-images-panel .photo-name,
#graphics-tools-module-user-images-panel .photo-subtext {
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#graphics-tools-module-user-images-panel .photo-name.medium,
#graphics-tools-module-user-images-panel .photo-subtext.medium {
  line-height: 1.5rem;
}
#graphics-tools-module-user-images-panel .photo-name.tiny,
#graphics-tools-module-user-images-panel .photo-subtext.tiny {
  line-height: 1rem;
}
#graphics-tools-module-user-images-panel .photo-subtext {
  opacity: 0.8;
}
#graphics-tools-module-user-images-panel .photo-date {
  position: absolute;
  z-index: 1;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.625rem;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 0.85rem;
  font-weight: bold;
}
#graphics-tools-module-user-images-panel .confirm-modal {
  max-width: 31.25rem;
}
#graphics-tools-module-user-images-panel .confirm-modal-message {
  max-width: 30ch;
  padding-bottom: 1.5rem;
  font-size: 1.35rem;
  font-weight: bold;
}
#graphics-tools-module-user-images-panel .confirm-modal-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
#graphics-tools-module-user-images-panel .no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 1.25rem;
  text-align: center;
}
#graphics-tools-module-user-images-panel .no-results .no-results-icon {
  margin-bottom: 1rem;
  color: var(--light-gray);
  font-size: 3rem;
}
#graphics-tools-module-user-images-panel .no-results .no-results-text {
  margin-bottom: 1rem;
  color: var(--font-color);
  font-size: 1.1rem;
}
#graphics-tools-module-user-images-panel .no-results .btn {
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.375rem;
  background-color: var(--blue);
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
}
#graphics-tools-module-user-images-panel .no-results .btn:hover {
  background-color: var(--dark-blue);
}
#graphics-tools-module-user-images-panel .theme-dark #user-images-panel .panel-header .header {
  color: var(--white);
}
#graphics-tools-module-user-images-panel .theme-dark #user-images-panel .results-info {
  color: var(--white-opacity);
}
#graphics-tools-module-user-images-panel .theme-dark #user-images-panel .no-results .no-results-text {
  color: var(--white);
}
