{% extends 'graphics_tools_module/panel.html.twig' %}

{% block title %}Narzędzia Graficzne | Konwerter{% endblock %}

{% block panel_stylesheets %}  
    <link rel="stylesheet" href="{{ asset('graphics-tools-module/css/converter-panel.css') }}">
{% endblock %}

{% block panel_content %} 

<div class="example-wrapper">
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eius perferendis ipsum dicta nemo cupiditate praesentium placeat quod voluptas eligendi minus facere, alias unde quia quas temporibus repudiandae ullam. Tempora quidem labore officiis iure, praesentium qui deserunt magni sequi sed, a omnis distinctio velit aut vero. Nulla, nam veritatis magnam eius nostrum distinctio ratione fugiat. Voluptatibus, at quas. Eveniet tempora nam quisquam reprehenderit optio minima dolor, facere laborum fugit?</p>

</div>

{% endblock %}

{% block panel_javascripts %}
 
<script type="module" src="{{ asset('graphics-tools-module/js/converter-panel/main.js') }}"></script>

{% endblock %}