@use "../functions/toRem" as *;
@use "../base/variables" as *;

#graphics-tools-module {
  .table-responsive-vertical {
    --table-border-radius: 15px;

    position: relative;
    border-radius: var(--table-border-radius);
    background-color: #1d1d1d;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;

    .preview-image {
      $border-radius: 5px;
      $box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      width: toRem(100);
      height: toRem(60);
      object-fit: cover;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }

    .td-title {
      display: none;
      font-weight: bold;
    }

    .table {
      width: 100%;
      max-width: 100%;
      border-spacing: 0;
      border: none;
      border-radius: var(--table-border-radius);
      font-size: 1rem;

      *:not(i) {
        font-family: sans-serif;
      }

      td {
        text-align: center;
      }

      & > tbody {
        background-color: var(--background);
      }
    }
    .table > thead > tr,
    .table > tbody > tr,
    .table > tfoot > tr {
      transition: all 0.3s ease;
    }
    .table > thead > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > th,
    .table > tbody > tr > td,
    .table > tfoot > tr > th,
    .table > tfoot > tr > td {
      padding: 0.25rem 0.75rem 0 0.75rem;
      transition: all 0.3s ease;
      border-top: 0;
    }
    .table > tbody > tr > td:first-child {
      background-color: var(--green-opacity-10);
      color: #fff;
      font-weight: bold;
    }

    .table > thead > tr > th,
    .table > tfoot > tr > th {
      border: none;
      background-color: #1d1d1d;
      color: #fff;
      font-weight: bold;
    }

    .table-footer {
      width: calc(100% - 2px);
      margin: 0 auto;
      padding: 1rem;

      border-radius: var(--table-border-radius);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-color: #1d1d1d;
      color: #fff;
    }

    .table > thead > tr > th:first-child {
      border-top-left-radius: var(--table-border-radius);
    }
    .table > thead > tr > th:last-child {
      border-top-right-radius: var(--table-border-radius);
    }

    .table > caption + thead > tr:first-child > th,
    .table > caption + thead > tr:first-child > td,
    .table > colgroup + thead > tr:first-child > th,
    .table > colgroup + thead > tr:first-child > td,
    .table > thead:first-child > tr:first-child > th,
    .table > thead:first-child > tr:first-child > td {
      border-top: 0;
    }
    .table > tbody + tbody {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
    .table .table {
      background-color: var(--font-color);
    }
    .table .no-border {
      border: 0;
    }

    & .table-striped > tbody > tr:nth-child(odd) {
      background-color: var(--very-light-gray);
    }
    & .table-hover > tbody > tr:hover > td,
    & .table-hover > tbody > tr:hover {
      background-color: var(--green-opacity-10) !important;
    }
    & .table-hover > tbody > tr > td:hover {
      background-color: var(--green-opacity-10) !important;
    }

    & .table > thead > tr > th {
      padding-block: 1rem;
    }

    @media screen and (max-width: 70rem) {
      box-shadow: none;

      .table > thead > tr > th,
      .table > tfoot > tr > th {
        color: #fff;
      }

      .table-footer {
        color: #fff;
      }

      .td-title {
        display: inline;
      }

      & > .table {
        margin-bottom: 0;
        background-color: transparent;

        .mx-auto {
          margin: 0;
          margin-left: auto;
        }
      }
      & > .table > thead,
      & > .table > tfoot {
        display: none;
      }
      & > .table > tbody {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        border-radius: var(--table-border-radius);
        gap: 1rem;
      }
      & > .table > tbody > tr {
        display: block;
        flex-basis: 1;
        flex-grow: 1;
        min-width: toRem(300);
        overflow: hidden;
        border-radius: var(--table-border-radius);
        box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
      }
      & > .table > tbody > tr > td {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 100%;
        padding: 0.75rem 1.1rem !important;
        text-align: right;
        gap: 1.25rem;
      }
      & > .table > tbody > tr > td::before { 
        text-align: left;
      }
      & > .table > tbody > tr > td[data-title]:before {
        content: attr(data-title);
        color: var(--font-color);
        font-size: 1rem;
        font-weight: bold;
      }
      & > .table > tbody > tr > td:last-child {
        padding-bottom: 2rem;
      }
    }
  }
}

.theme-dark #graphics-tools-module {
  .table-responsive-vertical {
    & .table-striped > tbody > tr:nth-child(odd) {
      background-color: var(--dark-gray);
    }
  }
}
